.DS_Store
node_modules
# The fork stores release builds for installation from its Git branch.
# dist/
o1labs*.tgz
tests/report/
tests/test-artifacts/
profiling.md
o1js-reference
*.tmp.js
_build/
src/config/
src/config.mlh
.direnv
.rustup
result
# precompiled bindings
src/bindings/compiled
.bindings_download
/native

# rust-analyzer
target/
